{% extends 'base.html' %}
{% load static %}

{% block title %}
About The Artist
{% endblock %}

{% block content %}
<h1>About The Artist</h1>

<section>
    <h2>Statement</h2>
    <p>
        My work explores the intersection of emotional and systemic processes. Connection is forged through emotional experiencing if given the correct conditions. Shame, disconnection, loss and fear obstruct expression. These emotions can be transformed through connection and acceptance. However, we also need to be supported by systems which make it possible to have our needs met, and often we are not. We are then taught culturally, by various systems, that our individual wellbeing and success are a product of personal grit and our distress and inability to live up to these standards are a product of personal failure. This decontextualises the individual and protects systems of power. 
    </p>
    <p>
        My practice looks to explore the interplay of these personal and systemic factors. I use my own experiences as the basis for the work, as the personal experiences of others is often what encourages people to reflect on their own perspectives and inquire about similar or divergent aspects of themselves. I respond to materials which I feel a connection to and feel an urge to engage with, remaining curious about what draws me to these and questioning my own response to them. I make work and objects which create abstract representations of these emotional and systemic processes. 
    </p>

</section>
<section>
    <h2>Bio</h2>
    <p>
        Bridge Rose is an artist based in Dublin. She graduated with a B.A. in Visual Arts Practices from the Institute of Art, Design and Technology Dun Laoghaire in 2010. Working primarily in installation, performance and photography, she created work which centred on her identity as an artist and her relationship with process. She returned to education for a further seven years and changed career paths, working in film, theatre, education and mental health services. Returning to her art practice in 2020, she began painting as a means of reconnecting with creative expression and soon moved into mixed media object-making. Her work continues to address issues of personal and systemic processes which individually impact us.
    </p>
</section>

{% endblock %}