{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ piece }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 col-lg-8">
        <figure>
            <img width="800" height="600" class="pics img-fluid" src="{{ piece.get_image }}" alt="{{ piece }}">
        </figure>
    </div>
    <div class="col-12 col-lg-4">
        <h2 class="text-center image-title">{{ piece }}</h2>
        <p>{{ piece.description|linebreaks }}</p>
        <table class="table table-sm">
            <tbody>
                {% if piece.collection %}
                <tr>
                    <th>
                        Collection:
                    </th>
                    <td>
                        <a href="{% url 'gallery:collection' slug=piece.collection.slug %}" aria-label="Link to {{ piece.collection }}">
                            {{ piece.collection }}
                        </a>
                    </td>
                </tr>
                {% endif %}
                {% if piece.date %}
                <tr>
                    <th>
                        Date:
                    </th>
                    <td>
                        {{ piece.date }}
                    </td>
                </tr>
                {% elif piece.collection.year or piece.collection.date_start %}
                <tr>
                    <th>
                        Date:
                    </th>
                    <td>
                        {% if piece.collection.year %}
                            {{ piece.collection.year }}
                        {% endif %}
                        {% if piece.collection.date_start %}
                            {{ piece.collection.date_start }}
                        {% endif %}
                        {% if piece.collection.date_end %}
                            - {{ piece.collection.date_end }}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% if piece.size %}
                <tr>
                    <th>
                        Size:
                    </th>
                    <td>
                        {{ piece.size }}
                    </td>
                </tr>
                {% endif %}
                {% if piece.price %}
                <tr>
                    <th>
                        Price:
                    </th>
                    <td>
                        €{{ piece.price }}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <th>
                        Price:
                    </th>
                    <td>
                        Available on request.
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <ul>
            <li>
                <button class="art-btn" data-hx-get="{% url 'gallery:enquiry' slug=piece.slug %}"
                data-hx-target="#modal-dialog" aria-label="Enquire about piece">Enquire</button>
            </li>
        </ul>
    </div>
</div>

{% endblock %}

{% block additional_script %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}